Flask
Flask-MySQLdb
pandas
openpyxl
werkzeug
Flask-WTF
xlsxwriter
pytest
flask_sqlalchemy
python-dotenv==0.19.1
authlib>=1.3.1
Flask-Mail==0.9.1
bcrypt==3.2.2
itsdangerous
Flask-Login==0.5.0
