<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    .toggle-password {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      transform: translateY(80%);
    }
  </style>
</head>
<body class="reset_password-body">
  <div class="reset_password-container">
    <header>
      <img src="{{ url_for('static', filename='image/logo2.png') }}" alt="Logo"  class="logo">
        <h1>Reset Password</h1>
        <p style="text-align: center;"> Create a New Password.</p>
    </header>    
  <form method="post" action="{{ url_for('reset_password', token=token) }}">
    <input type="hidden" name="token" value="{{ token }}">
    <label for="email_id">Enter your email:</label>
    <input type="email" id="email_id" name="email_id" required>
    
    <div style="position: relative;">
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" required>
      <span class="toggle-password" onclick="togglePasswordVisibility('password')">
        <i id="togglePasswordIcon" class="fa fa-eye-slash"></i>
      </span>
    </div>
    
    <div style="position: relative;">
      <label for="confirm_password">Confirm New Password:</label>
      <input type="password" name="confirm_password" id="confirm_password" required>
      <span class="toggle-password" onclick="togglePasswordVisibility('confirm_password')">
        <i id="toggleConfirmPasswordIcon" class="fa fa-eye-slash"></i>
      </span>
    </div>
     
    <div class="button-container">
        <button type="submit" class="btn small-btn">Reset </button>
        <a href="{{ url_for('login') }}" class="btn small-btn cancel-btn">Cancel</a>
    </div>    
  </form>
  <script>
    function togglePasswordVisibility(passwordFieldId) {
      const passwordField = document.getElementById(passwordFieldId);
      const icon = document.getElementById('togglePasswordIcon');
      if (passwordField.type === 'password') {
        passwordField.type = 'text';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      } else {
        passwordField.type = 'password';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      }
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</div>
<div id="flashModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <p id="flashMessage"></p>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
            const flashMessages = JSON.parse('{{ get_flashed_messages(with_categories=True)|tojson|safe }}');
                    if (flashMessages.length > 0) {
                        const modal = document.getElementById('flashModal');
                        const flashMessageElement = document.getElementById('flashMessage');
                        const span = document.getElementsByClassName('close')[0];

                        flashMessages.forEach(([category, message]) => {
                            flashMessageElement.textContent = message;
                            const modalContent = document.querySelector('.modal-content');
                            modalContent.classList.remove('success', 'error', 'warning', 'info');
                            modalContent.classList.add(category);
                            modal.style.display = 'block';
                        });

                        span.onclick = function() {
                            modal.style.display = 'none';
                        }

                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = 'none';
                            }
                        }

                        setTimeout(() => {
                            modal.style.display = 'none';
                        }, 5000); // Display for 5 seconds
                    }
                });
</script>
</body>
</html>
