<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>To reset your password, click the link below:</p>
    <p><a href="{{ reset_url }}">Reset Password</a></p>
    <p>If you did not request a password reset, please ignore this email.</p>
</body>
</html>
